<web-app>
  <display-name>Archetype Created Web Application</display-name>
  	<servlet>
  	<servlet-name>api</servlet-name>
  	<servlet-class>com.controller.api</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>api</servlet-name>
  		<url-pattern>/api</url-pattern>
  	</servlet-mapping>
    <servlet>
  	<servlet-name>LoginVerification</servlet-name>
  	<servlet-class>com.controller.LoginVerification</servlet-class>
  </servlet>
    <servlet>
    	<servlet-name>gym_controller</servlet-name>
    	<display-name>gym_controller</display-name>
    	<description></description>
    	<servlet-class>com.controller.gym_controller</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>LoginVerification</servlet-name>
  	<url-pattern>/LoginVerification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>gym_controller</servlet-name>
  	<url-pattern>/get_all_gym</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>Mail</servlet-name>
  	<servlet-class>com.controller.SendMail</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>email_try</servlet-name>
   	<display-name>email_try</display-name>
   	<description></description>
   	<servlet-class>com.controller.email_try</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>client_registration</servlet-name>
   	<display-name>client_registration</display-name>
   	<description></description>
   	<servlet-class>com.controller.client_registration</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>Mail</servlet-name>
  	<url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>email_try</servlet-name>
  	<url-pattern>/email_try</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>client_registration</servlet-name>
  	<url-pattern>/client_registration</url-pattern>
  </servlet-mapping>
  
  
 <context-param>
  <param-name>admin_userName</param-name>
  <param-value>admin</param-value>
 </context-param>
  <context-param>
  <param-name>admin_password</param-name>
  <param-value>admin</param-value>
 </context-param>
  <context-param>
  <param-name>user_userName</param-name>
  <param-value>user</param-value>
 </context-param>
  <context-param>
  <param-name>user_password</param-name>
  <param-value>user</param-value>
 </context-param>
</web-app>
